<%- include("../partials/header") %>
	<div class="container top-margin">
		<div class="container card" id="new">
			<h1 class="display-4">Blog Tile - <%=blog.title%></h1>
			<form action="/blogs/<%=blog._id%>/comments" method="POST">
	  			<div class="form-group">
					<label >Comment</label>
				    <input type="text" class="form-control" name="comments[commentTitle]">
				</div>
	  			<button type="submit" class="btn btn-success btn-lg ">Comment</button>
			</form>
		</div>	
	</div>
<%- include("../partials/footer") %>